a {
  color: black;
}

li a {
  color: white;
}

.App {
  margin: 0 auto;
  width: 100vw;
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;*/
}

/*HEADER*/
.header-container {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.header-container ul {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.logo-nav-container {
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.search-container input {
  width: 300px;
  border-radius: 5px;
}

/*LOGO*/
.logo-container {
}

/*CHARACTERS*/
.characters-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.characters-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-sizing: border-box;
}

.characters-container-div h3 {
  flex: 0.1;
  font-size: 17px;
  font-weight: bold;
}

.characters-container-img {
  height: 300px;
  width: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.characters-container-div p {
  max-width: 300px;
  height: 2em;
  overflow: hidden;
  font-size: 15px;
  font-style: oblique;
}

/*COMICS*/
.comics-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.comics-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-sizing: border-box;
}

.comics-container-div h3 {
  flex: 0.1;
  font-size: 17px;
  font-weight: bold;
}

.comics-container-img {
  height: 300px;
  width: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.comics-container-div p {
  max-width: 300px;
  height: 2em;
  overflow: hidden;
  font-size: 15px;
  font-style: oblique;
}

/*CARROUSEL COMICS*/
.carrousel-comics {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  overflow-x: scroll;
}
